body {
	margin: 0; 
	padding: 0;
	font-family: sans-serif;
	background: #9CCABABB;
}

.animeted {
	opacity: 0;
}

.box {
	width: 300px; 
	padding: 40px;
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	background: #191911;
	text-align: center;
	border-radius: 10px;
	transition: 0.50s;
}

.box:hover {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 2px 2px 20px 2px black; 
	transition: 0.50s;
}

.box h1 {
	color: #CBC1C191;
	font-weight: 500px;
	text-transform: uppercase;
}

.but {
	border: 0;
	background: none;
	display: block; 
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ebbb47; 
	padding: 14px 10px; 
	width: 200px;
	outline: none;
	color: white; 
	border-radius: 24px;
	transition: 0.50s; 
}

.but:focus { 
	width: 260px;
	border-color: #ebbb47; 
}

.button {
	background: none;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ebbb47;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: #fff;
	transition: 0.5s;
	cursor: pointer;
	border-radius: 10px;
}

.button:hover {
	background-color: #ebbb47; 
	transition: 0.50s;
	border-radius: 30px;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
}

@media screen and (max-width: 402px) {
	.box {
		width: 250px;
	}

	.box:hover {
		width: 250px;
	}

	.but:focus { 
		width: 220px; 
	}
}


@media screen and (max-width: 350px) {
	.box {
		width: 222px;
	}

	.box:hover {
		width: 222px;
	}

	.but:focus { 
		width: 190px; 
	}
}


@media screen and (max-width: 329px) {
	.box, .box:hover {
		width: 203px;
	}

	.but {
		width: 174px;
	}

	.but:focus { 
		width: 155px;
	}
}

@media screen and (max-width: 305px) {
	.box, .box:hover, .button {
		width: 174px;
	}

	.but {
		width: 156px;
	}
}

@media screen and (max-width: 271px) {
	.box, .box:hover {
		width: 124px;
	}

	h1 {
		font-size: 23px;
	}

	.but, .but:focus {
		width: 104px;
	}

	.button {
		width: 120px;
	}
}

@media screen and (max-width: 230px) {
	.box, .box:hover  {
		width: 95px;
		padding-top: 18px;
		padding-bottom: 18px;
	}

	h1 {
		font-size: 19px;
	}

	.but {
		width: 74px;
	}

	.button {
		width: 83px;
		padding: 10px;
	}

	.but:focus { 
		width: 75px;
	}
}

@media screen and (max-width: 201px) {
	.box, .box:hover {
		width: 76px;
	}

	.but, .but:focus {
		width: 54px;
	}

	h1 {
		font-size: 15px;
	}
}