Thumbs.db
*.obj
*.pdb
*.log
server.lock
server.properties
banned-ips.txt
banned-players.txt
msg-log.txt
sql-log.txt
webapi-log.txt
ops.txt
white-list.txt
/server/worlds/*
/server/plugins/EconomyAPI/*
/server/plugins/SmartRealtyPE/*
/server/plugins/pocketmine/*
/server/players/*
/server/crashdumps/*
/lobby/worlds/*
/lobby/plugins/pocketmine/*
/lobby/players/*
/lobby/crashdumps/*
/lobby/logs/*
/survival/worlds/*
/survival/plugins/pocketmine/*
/survival/players/*
/survival/crashdumps/*
/survival/logs/*
players.auto.json
players.json
phone.json
logins.json