ErrorDocument 404 /

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

Options All -Indexes
<Files "*.zip"> 
  deny from all 
</Files>



AddType application/octet-stream .pdf
AddType application/octet-stream .zip
AddType application/octet-stream .avi