body
{
	margin: 0;
	padding: 0;
}

#nav
{
	height: 40px;
	background: #2a6478;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#nav_label
{
	color: #fcfcfc;
	font-size: 14px;
}

#nav_label strong
{
	color: #fff;
}

#nav_exit
{
	background-image: url(../img/exit.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 60px 5px;
	background-color: rgba(0, 0, 0, 0.1);
	transition-duration: 0.5s;
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 40px;
	color: #fcfcfc;
	font-size: 14px;
	width: 90px;
	cursor: pointer;
	text-align: left;
	padding-left: 15px;
}

#nav_exit:hover
{
	color: #e83b6e;
	background-color: rgba(0, 0, 0, 0.2);
	background-position: 64px 5px;
	padding-left: 20px;
}

#nav_user,
#nav_coin
{
	background-image: url(../img/user.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 10px 5px;
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	width: 120px;
	cursor: default;
	text-align: left;
	padding-left: 42px;
	font-weight: 600;
	letter-spacing: 1px;
}

#nav_coin
{
	background-image: url(../img/bank.png);
	background-size: 21px 21px;
	background-position: 10px 9px;
	width: auto;
	padding-right: 12px;
}

#top
{
	background: #fafafa;
	min-height: 80px;
}

#top_menu
{
	text-decoration: none;
}

.top_menu_item
{
	transition-duration: 0.3s;
	color: #000;
	float: right;
	display: inline-block;
	width: 80px;
	height: 80px;
	font-size: 12px;
	line-height: 130px;
	text-align: center;
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: 20px 10px;
}

.top_menu_item:hover
{
	text-decoration: none;
	cursor: pointer;
	color: #f07d14;
	border-bottom: 3px solid #e83b6e;
}

#top_logo_img
{
	display: block;
	background-size: 160px 80px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../img/logo.png);
	width: 160px;
	height: 80px;
}

#main
{
	padding-top: 50px;
}

#loading
{
	margin-top: 50px;
	width: 64px;
	height: 64px;
}

#home_left
{
	
}

.main_label,
.left_label,
.right_label
{
	margin-left: 20px;
	display: block;
	color: #000;
	font-size: 16px;
}

.left_block,
#home_right_guide
{
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 30px;
	display: block;
	width: 100%;
	min-height: 50px;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	padding: 10px;
}

.left_block div
{
	display: inline-block;
	margin: 0;
	text-align: center;
	height: 40px;
	line-height: 40px;
	width: 49%;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
}

.left_block div:nth-child(odd)
{
	background: #e83b6e;
}

.left_block div:nth-child(even)
{
	background: #f07d14;
}

#left_sum
{
	color: #cfcfcf;
	font-size: 14px;
	float: right;
	margin-top: -20px;
}

#home_right
{
	padding-right: 30px;
}

#guides
{
	display: none;
}

#home_right_guide
{
	transition-duration: 1s;
	text-align: justify;
	color: #000;
	font-size: 13px;
}

#home_right_guide > strong
{
	display: block;
	clear: both;
	margin: 3px;
	margin-left: 0;
}

#content
{
	padding-left: 40px;
	padding-right: 40px;
}

#powerpanel
{
	display: block;
	position: fixed;
	width: 150px;
	height: 40px;
	background: #f3f3f3;
	bottom: 0;
	left: 50px;
	border-radius: 5px;
}

#powerpanel:hover > div > *
{
	opacity: 0.8;
}

.powerbtn_cont
{
	display: inline-block;
}

.powerbtn
{
	transition-duration: 0.4s;
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-top: 6px;
	margin-left: 13px;
	opacity: 0.65;
	cursor: pointer;
	background-size: 18px 18px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

.powerbtn:hover
{
	opacity: 1;
	border: 1px solid #0f0f0f;
}

#power_btn_kill
{
	background-color: orange;
	background-image: url(../img/kill.png);
}

#power_btn_stop
{
	background-color: red;
	background-image: url(../img/off.png);
}

#power_btn_rest
{
	background-color: green;
	background-image: url(../img/restart.png);
}

#alerts_cont
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow-x: hidden;
	z-index: 100;
	height: auto;
}


.box_log
{
	display: block;
	width: 100%;
	min-height: 100px;
	max-height: 240px;
	background: #fcfcfc;
	margin: 20px;
	font-size: 14px;
	overflow: auto;
}

.box_log > div
{
	width: inherit;
	height: 40px;
	max-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 40px;
	color: #395778;
	cursor: default;
	border-bottom: 1px solid #cfcfcf;
}

.box_log > div:nth-child(1)
{
	background-color: #f5f5f5;
	color: #000;
	font-size: 700;
	border-bottom: 1px solid #c0c0c0;
}

.box_log > div > span:nth-child(1)
{
	display: inline-block;
	width: 150px;
	margin-right: 20px;
	padding-left: 10px;
	white-space: nowrap;
	overflow-x: hidden;
}

.box_log > div > span:nth-child(2)
{
	display: inline-block;
	white-space: nowrap;
	overflow-x: hidden;
}

.main_label
{
	float: left;
	margin: 0 10px 20px 20px;
}

.main_selector
{
	float: right;
	font-size: 16px;
	padding: 5px;
	margin-right: -20px;
	border: none;
	background: #fcfcfc;
	outline: 0;
	box-sizing: content-box;
	color: #395778;
}

#box_properties
{
	display: block;
	width: 100%;
	min-height: 50px;
	margin-top: 30px;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	padding: 10px;
}

#box_properties > em
{
	float: right;
	color: #c0c0c0;
}

#box_properties_cont
{
	width: 100%;
	font-size: 16px;
}

#box_properties_cont div
{
	height: 28px;
}

#box_properties_cont span
{
	color: #395778;
	display: inline-block;
	width: 30%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#box_properties_cont input
{
	display: inline-block;
	width: 65%;
	border: none;
}

#box_properties_cont input:focus
{
	color: #e83b6e;
	border-bottom: 1px solid #fcfcfc;
}

#box_openplugs
{
	transition-duration: 1s;
	margin-top: 30px;
	background: #2a6478;
	margin-left: 20px;
}

#box_openplugs:hover
{
	background: #fcfcfc;
	color: #2a6478;
	font-weight: 700;
}

#box_downloadplug
{
	margin-top: 40px;
	margin-left: 20px;
	float: right;
}

#box_command
{
	transition-duration: 0.7s;
	display: block;
	width: 100%;
	margin: 20px;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
}

#box_command:focus
{
	background: #2a6478;
	color: lime;
}










@media (max-width:350px)
{
	#nav_user
	{
		display: none;
	}
}

