body {
	margin: 0; 
	padding: 0;
	font-family: sans-serif; /*font sans-serif*/
	background: #9CCABABB; /*backgraund color gray*/

}

.box {
	width: 300px; 
	padding: 40px; /**/
	position: absolute; /*position absolut*/
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	background: #191911; /*backgraund black*/
	text-align: center; /*text center*/
	border-radius: 10px; /*radius center*/
}

.box:hover {
	width: 300px; /*width at hover 300px*/
	padding: 40px; /*paddding 40px*/
	position: absolute; /*absolut posotion*/
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	text-align: center; /*text by center*/
	box-shadow: 2px 2px 20px 2px black; 
	transition: 0.50s; /*delay 0.5s*/
}

.box h1{
	color: #CBC1C191; /*the color in the box is grayish*/
	font-weight: 500px; /*font weight 500px*/
	text-transform: uppercase; /*capitalize text*/
}

.but {
	border: 0; 
	background: none; /*backgraund none*/
	display: block; /*block*/
	margin: 20px auto; /*alignment by center*/
	text-align: center; /*text by center*/
	border: 2px solid #33DB79B4; 
	padding: 14px 10px; 
	width: 200px;
	outline: none; /*контур отсуствует*/
	color: white; 
	border-radius: 24px; /*border 24px*/
	transition: 0.50s; /*delay 0.5s*/
}


.but:focus { 
	width: 260px; /*ширина при фокусе (при нажатии) 260px*/ 
	border-color: #33DB79B4; 
}

.button{
	background: none;
	margin: 20px auto; /*alignment by center*/
	text-align: center; /*text by center*/
	border: 2px solid #33DB79B4; /*border 2px solid, green*/
	padding: 14px 40px; /*padding 14px, 40px*/
	width: 200px; /*width 200px*/
	outline: none; /*outline none*/
	color: #fff; /*color white*/
	transition: 0.5s; /*delay 0.5s*/
	cursor: pointer; /*курсор изменить на нажатый*/
	border-radius: 10px; /*border on the 10px*/
}

.button:hover{
	background-color: #0FEF5FC2; /*at hover change color green*/
	transition: 0.50s; /*delay 0.5s*/
	border-radius: 30px; /*border on the 30px*/

}

a{
	text-decoration: none; /*shutdown text decaration*/
}

a:hover{
	color: red; /*at hover change color on the red*/

}
